*{
    font-family: 'Montserrat';
    padding:0;
}
.avatar{
    width:150px;
    height:150px;
    border-radius:100em !important;
    overflow: hidden;
    margin-bottom:15px;
    border: #fff solid 10px;
    /* filter: grayscale(100); */
}

h1{
    font-weight: 700;
}

.section-header{
    margin-top:100px;
    height:300px;
    display:flex;
}
.short-info{
    margin-top:30px;
    font-weight:300;
    font-size:1em;
}
.image-thumbnails{
    margin-top:50px;
    margin-bottom:50px;
}
.image-thumbnails .col-sm-4{
    width:100%;
    padding:0;
}
.image-thumbnails img{
    width:100%;
    /* filter: grayscale(100); */
}
.image-thumbnails img:hover{
    filter:none;
    transform: scale(1.1);
    transition: transform .2s;
}
.img-wrap{
    /* overflow: hidden; */
}
.short-info li{
    list-style: none;
    display:inline;
    padding-left:30px;
    padding-right:30px;
    color:black;
}
.short-info a:hover{
    text-decoration: line-through;
    text-decoration-color: black;
}
#active{
    text-decoration: line-through;
    text-decoration-color: black;
}

@media (max-width:768px){
    .section-header{
        height:250px;
    }
    .short-info li{
        padding-left:15px;
        padding-right:15px;
    }
}

@media (max-width:480px){
    .section-header{
        margin-top:50px;
        height:300px;
    }
    .short-info{
        margin-top:0px;
    }
    .short-info li{
    }
    .image-thumbnails img{
        padding-left:10px;
        padding-right:10px;
    }
}