*{
    font-family: 'Montserrat';
    padding:0;
    /* line-height:2.5em; */
}
#nav-mobile{
    display: none;
}
.avatar{
    width:150px;
    height:150px;
    border-radius:100em !important;
    overflow: hidden;
    margin-bottom:15px;
    border: #fff solid 10px;
    /* filter: grayscale(100); */
}

h1{
    font-weight: 700;
}
h3{
    font-weight:700;
    font-size:1.5em;
}
h4{
    font-weight: 700;
    font-size:1.2em;
    text-align: left;
}
p{
    font-size:.9em;
}
.section-client .col-lg-2{
    font-size:.9em;
}
.section-header{
    margin-top:80px;
    height:300px;
    display:flex;
}
.section-faq p{
    font-size:.8em;
    text-align: left;
}
.faq-icon{
    width:100px;
    height:100px;
    border-radius:100em;
    margin-bottom:20px;
}
.nav{
    display:block;
    margin-top:15px;
    font-weight:500;
    font-size:1em;
}
.content-body{
    font-size:.9em;
    margin-bottom:50px;
}
.image-thumbnails{
    margin-top:50px;
    margin-bottom:50px;
}
.image-thumbnails .col-sm-4{
    width:100%;
    padding:0;
}
.image-thumbnails img{
    width:100%;
    /* filter: grayscale(100); */
}
.image-thumbnails img:hover{
    filter:none;
    transition: transform .2s;
}
.img-wrap{
    overflow: hidden;
    padding:5px;
}
.footer{
    margin-bottom:30px;
}
.footer ol{
    margin-bottom:.5rem;
}
.footer-links li{
    list-style: none;
    display: inline;
    padding-left:20px;
    padding-right:20px;
    color:black;
    opacity: .7;
}
.nav li{
    list-style: none;
    display:inline;
    padding:20px;
}
.nav a{
    text-decoration: none;
    font-size:.8em;
    color:black;
    opacity: .7;
    padding-bottom:10px;
}
.nav a:hover, #active{
    text-decoration-color: black;
    opacity: 1;
    border-bottom:solid 1px black;
}
.footer-links li:hover{
    opacity: 1;
}
.section-body{
    margin-top:50px;
    margin-bottom:50px;
}
.sub-header{
    opacity:.3;
}
#emotes{
    width:100%;
}
.img-wrap{
    padding:10px;
    overflow: hidden;
}
.img-content{
    display: none;
    background: rgba(0,0,0,.5);
    position: absolute;
    color:white;
    right:0;
    z-index:10;
    padding:20px;
    width:100%;
}
.img-wrap:hover #imc-1,.img-wrap:hover #imc-2,.img-wrap:hover #imc-3{
    display: block;
}
.img-wrap:hover #imc-4,.img-wrap:hover #imc-5,.img-wrap:hover #imc-6{
    display: block;
}
.img-wrap:hover #imc-7,.img-wrap:hover #imc-8,.img-wrap:hover #imc-9{
    display: block;
}
@media (max-width:1024px){
    #emotes{
        width:100%;
    }
}
@media (max-width:768px){
    .section-header{
        margin-top:50px;
        height:300px;
    }
    .nav li{
        list-style: none;
        display:inline;
        padding:15px;
    }
    #emotes{
        width:100%;
    }
}

@media (max-width:480px){
    #emotes{
        width:100%;
    }
    #nav-mobile{
        display: block;
    }
    #nav-desktop{
        display: none;
    }
    .section-header{
        margin-top:30px;
        height:300px;
    }
    .nav{
        margin-top:20px;
    }
    h1{
        font-size:30px;
    }
    h3{
        font-size:20px;
    }
    .section-faq h4{
        font-size:16px;
    }
    .section-faq .col-sm-4{
        margin-bottom:15px;
    }
    .image-thumbnails{
        padding-left:10px;
        padding-right:10px;
        margin-top:15px;
    }
    .section-client .col-sm-4{
        width:33.3333%;
    }
   
}