*{
    font-family: 'Montserrat';
    padding:0;
    /* line-height:2.5em; */
}
#nav-mobile{
    display: none;
}
.avatar{
    width:150px;
    height:150px;
    border-radius:100em !important;
    overflow: hidden;
    margin-bottom:15px;
    border: #fff solid 10px;
    /* filter: grayscale(100); */
}

h1{
    font-weight: 700;
}
h3{
    font-weight:700;
    font-size:1.5em;
}
.section-header{
    margin-top:80px;
    height:300px;
    display:flex;
}
.nav{
    display:block;
    margin-top:15px;
    font-weight:500;
    font-size:1em;
}
.content-body{
    font-size:.9em;
}
.image-thumbnails{
    margin-top:50px;
    margin-bottom:50px;
}
.image-thumbnails .col-sm-4{
    width:100%;
    padding:0;
}
.image-thumbnails img{
    width:100%;
    /* filter: grayscale(100); */
}
.image-thumbnails img:hover{
    filter:none;
    transform: scale(1.1);
    transition: transform .2s;
}
.img-wrap{
    /* overflow: hidden; */
}
.footer{
    margin-bottom:30px;
}
.footer ol{
    margin-bottom:.5rem;
}
.footer-links li{
    list-style: none;
    display: inline;
    padding-left:20px;
    padding-right:20px;
    color:black;
    opacity: .7;
}
.nav li{
    list-style: none;
    display:inline;
    padding:20px;
}
.nav a{
    text-decoration: none;
    font-size:.8em;
    color:black;
    opacity: .7;
    padding-bottom:10px;
}
.nav a:hover, #active{
    text-decoration-color: black;
    opacity: 1;
    border-bottom:solid 1px black;
}
.footer-links li:hover{
    opacity: 1;
}
.section-body{
    margin-top:50px;
    margin-bottom:50px;
}
.sub-header{
    opacity:.3;
}
@media (max-width:768px){
    .section-header{
        margin-top:50px;
        height:300px;
    }
    .nav li{
        padding-left:15px;
        padding-right:15px;
    }
}

@media (max-width:480px){
    #nav-mobile{
        display: block;
    }
    #nav-desktop{
        display: none;
    }
    .section-header{
        margin-top:30px;
        height:300px;
    }
    .nav{
        margin-top:20px;
    }
    h1{
        font-size:30px;
    }
    h3{
        font-size:25px;
    }
    .image-thumbnails{
        padding-left:10px;
        padding-right:10px;
    }
   
}